:root {
    --border-color: currentColor;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    --white: #fff;
}

@font-face {
  font-family: Monument Grotesk;
  src: url(/ABCMonumentGrotesk-Regular-Trial.otf)
}

@font-face {
  font-family: Monument Grotesk i;
  src: url(/ABCMonumentGrotesk-RegularItalic-Trial.otf);
}

body {
  font-size: 1.8rem;
  line-height: 1.2;
  background-color: rgba(244, 240, 240, var(--tw-bg-opacity));
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';;
}

main {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
} 

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.foggy-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(29, 27, 27, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: scale 0.5s ease-out;
    
}

.created-by-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;


}

.created-by {
  width: 40%;
  text-align: center;
  font-family: Monument Grotesk;
  font-size: 1.5rem;
  
}

.created-by a {
  color: black;
  font-size: 1.5rem;
  font-family: Monument Grotesk;
}

.bottom-container {
    position: fixed;
    z-index: 9999;
    bottom: 57px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 14%;
   }
  
   .last-updated {
    width: 12em;
    height: 1em;
    display: flex;
    justify-content: center;
   }
  
   .time-weather-timezone {
    width: 12em;
    height: 1em;
    display: flex;
    justify-content: center;
   }
  
    .navigation-container {
      clip-path: inset(0 0 0 0 round 12px);
      background-color: rgba(29, 27, 27, 0.4);
      width: 12em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0.5rem;
  
    }
  
    .navigation-container span, a {
      font-size: 1rem;
      font-weight: 600;
      color: var(--white);
      text-decoration: none;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
  
  .last-updated span,  
  .time-weather-timezone span  {
      font-size: 1.2rem;
      color: black;
      font-size: 15px;
  }
  
  
  @media screen and (max-width:1090px) {
    .last-updated span {
      display: none;
    }
  }

  @media screen and (max-width:1090px) {
    .last-updated, 
    .time-weather-timezone{
      display: none;
    }
  }
  
  .menu-line {
    background-color: rgba(244, 240, 240, var(--tw-bg-opacity));
    border-radius: 9999px;
    height: 3px;
    transform: translate(130px) scale(0.0994, 1);
    transition: transform 280ms ease-in-out;
  }